/* Fill the background with template image */
.reveal .slide-background {
  background: linear-gradient(#b1dde5, #e1f0f5);
}

/* On the inner element so a slide-level `background-image` overrides it */
.reveal .slide-background-content {
  background-image: url(background/template_3.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}